#carriage {
    fill: rgb(197, 197, 197);
}

#Railway_carriage {
    fill: rgb(148, 148, 148);
}

#Fon{
    fill: #ffffff;
}

#Compartments{
    fill: rgb(253, 253, 253);
}

#Seats{
    fill: rgb(148, 148, 148);
}

#Seat1{
    fill: rgb(119, 146, 197);
}

#Tables{
    fill: rgb(206, 206, 206);
}
#Cup_for_table{
    fill: rgb(180, 180, 180);
}
#Icons{
    fill: rgb(148, 148, 148);
}